@import "../../vars.css";

.navbar {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 61px;
    background-color: var(--color-bg);
    z-index: 2;
    margin: 0 10%;
    color: white;
}

.title{
    font-size: 30px;
    font-weight: 600;
    font-family: var(--font-roboto);
    text-decoration: none;
    color: var(--color-text);
}

.menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 30%;
}

.menuItems{
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    gap: 47px;
}

.menuItems a{
    text-decoration: none;
    color: var(--color-text);
    font-size: 25px;
    font-weight: 500;
}